.notemain {
    width: 95%;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
	background: #ffffff;
	color: #000000;	
    border-radius:5px;
	
}

.notemain li {
	margin-left: 2rem;
}

.notemain span {
	font-weight: 800;
}

.notemain img {
	display:block; 
	margin:0 auto;
	max-width: 450px;
	width: 70%;	
}

.notemain h2 {
	text-align: center; 
}

.feedback {
    width: 95%;
	
}

.feedback h1{
	text-align: center;
	color: red;
	font-size: 1.5rem;
}

.feedback label {
	font-weight: 800;
}

label::after{
  content: "*";
  color: red;
}


