.note {
    position:relative;
    width:95%;
    padding:1rem 1.5rem;
    margin:2rem auto;
    color:#fff;
    background:#97C02F;
    overflow:hidden;
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0;
    border-style:solid;
    border-color:#fff #fff #658E15 #658E15;
    background:#658E15;
    display:block; 
    width:0;
}

.note.blue {background:#53A3B4;}
.note.blue:before {border-color:#fff #fff #356c79 #356c79; background:#356c79;}

.note.green {background:#216C2A;}
.note.green:before {border-color:#fff #fff #0B4612 #0B4612; background:#0B4612;}

.note.sky {background:#a6caf0;}
.note.sky:before {border-color:#fff #fff #36689C #36689C; background:#36689C;}

.note.red {background:#C93213;}
.note.red:before {border-color:#fff #fff #97010A #97010A; background:#97010A;}

.note.taupe {background:#4B0082; }
.note.taupe:before {border-color:#fff #fff #483D8B #483D8B; background:#483D8B;}


.note.round {
    border-radius:5px;
}

.note.round:before {
    border-width:8px;
    border-color:#fff #fff transparent transparent;
    border-radius:0 0 0 5px;
}

.note h1{
	font-size: 2rem;
	text-align: center;
}

.note h2{
	font-size: 1rem;
	text-align: left;
	font-weight:800;
}

.note img{
	float: left;
	margin-right: 10px;	
}

.note div{
	text-align: right;
}

.note div button{
	margin: 5px;
}

.note ol, .note ul {
	padding-left: 40px;
}
