* {
	margin : 0;
	padding : 0;
	}
	body {
		background-color: #ADFF2F;
		border: 2px solid green;		
	}
	header {
		border: 1px solid #ADFF2F;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	h1 {
		text-align: center;
		font-family: Courier New;
		font-size: 50pt;
		flex-grow: 1;		
	}
	nav ul {
		border: 2px solid #006400;
		display:flex;
		flex-direction: row;	
		justify-content: space-around;
	}
	nav li {
		list-style-type: none;
		display: inline;		
		font-size: 16pt;
	}
	h2 {
		text-align: center;
	}	
	.block1, .block2 {
		border: 2px solid #006400;
	}
	.block1 {
		padding: 20px;
		flex: 1;
	}		
	.block2 {
		flex: 1;
	}	
	#para {
		display: flex;
		flex-direction: row;
	}
	#pic  {
		width: 90%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
			
	}
	#pic div {
		width: 40%;		
		margin: 10px;
		text-align: center;		
	}
	#pic img {
		width: 80%;
	}
	footer {
		background:linear-gradient(45deg, #32CD32, #FFD700, #90EE90);
		padding: 5px;
		text-align: center;
		font-size: 16pt;
	}
	@media (max-width: 500px) {
		
		nav ul {
				flex-direction: column;
		}
			nav li {
				align-self: center;
				margin: 0;
			}
		#para {
			display: flex;
			flex-direction: column;
			}
		#pic img {
			width: 20%;		
			margin: 0;		
			}
		h1 {		
		font-size: 30pt;	
			}
	}
